<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <form class="col-12 validate-form" novalidate>
            <h1 class="mb-3">Recuperar contraseña</h1>
            <p>Ingrese el correo electrónico que utiliza en su cuenta. Le enviaremos un enlace para que restablezca su
                contraseña.</p>
            <div class="form-group">
                <input type="email" name="email" class="form-control form-control-lg" placeholder="Correo electrónico"
                    required>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-lg">Enviar <i class="fas fa-envelope"></i></button>
            </div>
        </form>
        <div class="modal-footer signin">
            <a routerLink="/login">Regresar a Inicio de sesión</a>
        </div>
    </div>
</div>