<div class="filters">
    <form>
        <div class="form-inline">
            <input class="form-control " type="search" placeholder="Buscar..." aria-label="Buscar">
            <button class="btn" type="submit">Buscar</button>
        </div>
        <div class="form-group">
            <label for="zoneFilter">Filtrar por zona</label>
            <select class="form-control">
                <option>Seleccionar zona:</option>
            </select>
        </div>
        <div class="form-group">
            <label for="commerceFilter">Filtrar por tipo de comercio</label>
            <select class="form-control">
                <option>Seleccionar comercio:</option>
            </select>
        </div>
        <div class="form-group">
            <label for="productFilter">Filtrar por tipo de producto</label>
            <select class="form-control">
                <option>Seleccionar producto:</option>
            </select>
        </div>
        <div class="form-group">
            <label for="priceFilter">Filtrar por precio</label>
            <input type="range" class="custom-range" id="customRange1">
        </div>
    </form>
</div>

<div class="map-container">
    <div class="map-frame">
        <div id="map"></div>
    </div>
</div>