<header>
    <nav class="navbar navbar-expand-sm fixed-top">
        <div class="container-fluid">
            <a [routerLink]="['/']" class="navbar-brand">Shopavo</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" routerLinkActive="active"><a [routerLink]="['join-us']" class="nav-link">Unirse a Shopavo</a></li>
                    <li class="nav-item" routerLinkActive="active"><a [routerLink]="['login']" class="nav-link">Iniciar
                            sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>